<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073386391356-cjqnphar41f9d7nc1netkadhe7f8829a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073386391356-cjqnphar41f9d7nc1netkadhe7f8829a</string>
	<key>API_KEY</key>
	<string>AIzaSyAGqqoECNvizZ1tDi-pERLjH7POa1c65RY</string>
	<key>GCM_SENDER_ID</key>
	<string>1073386391356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Watashi.stg</string>
	<key>PROJECT_ID</key>
	<string>watashi-f480a</string>
	<key>STORAGE_BUCKET</key>
	<string>watashi-f480a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073386391356:ios:d2511f7261c0aec6e9c039</string>
	<key>DATABASE_URL</key>
	<string>https://watashi-f480a.firebaseio.com</string>
</dict>
</plist>